body {
    background-color: #7e2d2d;
    display: flex;
    flex-direction: column;
    /*background-image: url("../static/search.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
}

.search-bar {
    margin: 0 auto;
    position: fixed;
    background-color: transparent;
    top: 47vh;
    left: 75vh;
    font-size: 40px;
    border-color: transparent;
    outline: none;
    color: #4d3b88;
}

.wrapper {
    position: fixed;
}